**/obj
**/bin
Aseguradora.Aplicacion/obj/Debug/net7.0/Aseguradora.Aplicacion.assets.cache
Aseguradora.Repositorios/obj/Debug/net7.0/Aseguradora.Repositorios.GeneratedMSBuildEditorConfig.editorconfig
Aseguradora.Repositorios/obj/Debug/net7.0/Aseguradora.Repositorios.csproj.AssemblyReference.cache
Aseguradora.Repositorios/obj/Debug/net7.0/Aseguradora.Repositorios.assets.cache
Aseguradora.Consola/obj/Debug/net7.0/Aseguradora.Consola.GeneratedMSBuildEditorConfig.editorconfig
Aseguradora.Consola/obj/Debug/net7.0/Aseguradora.Consola.csproj.AssemblyReference.cache
Aseguradora.Consola/obj/Debug/net7.0/Aseguradora.Consola.assets.cache
Aseguradora.Aplicacion/obj/Debug/net7.0/Aseguradora.Aplicacion.GeneratedMSBuildEditorConfig.editorconfig
Aseguradora.Aplicacion/obj/Debug/net7.0/Aseguradora.Aplicacion.assets.cache
