form {
    margin-top: 3rem;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  grid-column: 1;
}


